<div class="columns">
  <div class="column is-3">
    <h2 class="subtitle">Bookmarks</h2>
    <div class="columns is-multiline">
      <!-- TODO: handle length = 0 -->
      <ng-container *ngIf="(bookmarks$ | async) as bookmarks; else noBookmarks">
        <div class="column is-6" *ngFor="let show of bookmarks" @zoomInOut>
          <ma-poster [show]="show" size="md">
            <app-bookmark-remove [item]="show"></app-bookmark-remove>
          </ma-poster>
        </div>
      </ng-container>
      <ng-template #noBookmarks>
        <div class="help is-warning">No Bookmarks Yet</div>
      </ng-template>
    </div>
  </div>

  <div class="column">
    <h2 class="subtitle">Find a show</h2>
    <form [formGroup]="form" class="field has-addons">
      <div class="control is-expanded">
        <input [class.is-danger]="form.invalid" formControlName="query" type="search" class="input">
      </div>
      <div class="control">
        <button [class.is-loading]="form.pending" [disabled]="form.invalid" class="button is-primary" (click)="click$.next()">
          <i class="fas fa-search margin"></i>
          search
        </button>
      </div>
    </form>

    <div class="columns is-multiline results">
      <ng-container *ngFor="let show of shows">
        <ma-poster [appBookmarked]="show"  [show]="show" size="md" class="column is-4">
          <app-bookmark-add [item]="show"></app-bookmark-add>
          <app-bookmark-remove [item]="show"></app-bookmark-remove>
        </ma-poster>
      </ng-container>
    </div>
  </div>
</div>
