<ng-container *ngIf="show">
  <img class="photo" [src]="posterUrl" alt="">
  <div class="content">
    <ng-content></ng-content>
    <h2 class="subtitle" *ngIf="displayName()">
      <a routerLink="/tv-shows/{{show.id}}">
        {{show.name}}
      </a>
    </h2>
  </div>
</ng-container>
