<div class="column">
  <form #formRef="ngForm" class="column is-6 is is-offset-3">
    <h1 class="title">Contact Us</h1>

    <div class="field">
      <label for="email" class="label">Email</label>
      <div class="control">
        <input id="email" type="email" class="input"
               required minlength="3" appUsernameAvailable email #emailRef="ngModel"
               [class.is-danger]="showErrors(emailRef)"
               [(ngModel)]="contact.email"  name="email100">
      </div>
      <div class="help is-info" *ngIf="emailRef.pending">
        wait for validation
      </div>
      <div class="help is-danger" *ngIf="showErrors(emailRef)">
        <p *ngIf="emailRef.errors.required">This fields is required!</p>
        <p *ngIf="emailRef.errors.minLength">Your email should longer</p>
        <p *ngIf="emailRef.errors.email">Provide a correct email address</p>
      </div>
    </div>

    <div class="field">
      <label for="message" class="label">Message:</label>
      <div class="control">
        <textarea id="message" class="textarea" #messageRef="ngModel"
                  minlength="5" [class.is-danger]="showErrors(messageRef)"
                  [(ngModel)]="contact.message" name="message"></textarea>
      </div>
      <p class="help is-danger" *ngIf="showErrors(messageRef)">This field is required!</p>
    </div>

    <button class="button is-primary is-pulled-right" (appSubmitIfValid)="send()">
      Send
    </button>
  </form>
</div>
